.reservation {
	height: 70rem;

	&__heading {
		text-align: center;
		color: #2b8eff;
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	&__heading:after {
		content: "";
		width: 10rem;
		height: 4px;
		display: block;
		margin: 0 auto;
		border-bottom: 3px solid #2b8eff;
	}
}
