:root {
	--primary-color-1: #2b8eff;
	--primary-color-2: #313a43;
	--primary-color-3: #f8f9fb;

	--secondary-color-1: #2b353b;
	--secondary-color-2: #ffffff;
}
.has-padding {
	padding-left: 6rem;
	padding-right: 6rem;
}
:root {
	--black: #272d3b;
	/*--red:#ED176F;
	--coral:#F7817F;*/
	--red: #1d19fcfb;
	--coral: #9da3ff;
	--gradient: linear-gradient(to right, #2b8eff, #2136f5);
}
